{% extends 'Admin/base.html.twig' %}

{% block title %}Directeur index
{% endblock %}

{% block body %}
	<div class="card">
		<div class="row g-4">
			<div class="card bg-transparent border rounded-3 h-100">

				<div class="card-header bg-light border-bottom">
					<h5 class="card-header-title">
						<div class="col-12 d-sm-flex justify-content-between align-items-center">
							<h2 style="float: left; font-weight: bold">Mot du Directeur</h2>
							{% if directeur is empty %}
								<a href="{{ path('app_directeur_new') }}" class="btn btn-sm btn-primary mb-0" style="float: right">
									<i class="fas fa-plus"></i>
									Ajouter</a>
							{% else %}
								<a href="{{ path('app_directeur_edit', {id: directeur.id})}}" class="btn btn-sm btn-primary mb-0">Modifier</a>
							{% endif %}
						</div>
					</h5>
				</div>
				<div class="card-body">

					{% if directeur is empty %}
						Aucune information, Veuillez remplir à nouveau
					{% else %}
						<div class="row g-4">
							<div class="col-lg-6 col-md-6">
								<center>
									<img src="/images/etudiants/{{ directeur.filename }}" alt="" width="70%" height="50%">
								</center>
							</div>
							<div class="col-md-6">
								<p class="mt-3">{{ directeur.motDirecteur | raw }}</p>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
