</div></div><aside class="customizer">
<a href="javascript:void(0)" class="service-panel-toggle">
	<i class="fa fa-spin fa-cog"></i>
</a>
<div class="customizer-body">
	<ul class="nav customizer-tab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
				<i class="mdi mdi-wrench font-20"></i>
			</a>
		</li>
	</ul>
	<div class="tab-content" id="pills-tabContent">
		<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
			<center>
				<h1>
					Recherche par année
				</h1>
			</center>
		</div>

	</div>
</div></aside>
